@import "tailwindcss";

/* Hide scrollbar (Chrome, Safari, Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar (IE + old Edge) */
.hide-scrollbar {
  -ms-overflow-style: none;
}



/* Heart animation */
.heart-animation {
  animation: heart-pop 0.6s ease-out forwards;
}

@keyframes heart-pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
